<section class="pirates-content body-content">
    <div class="container">
        <h1 class="animated fadeIn fast">Mugiwara Pirates</h1>
        <hr />
        <main class="card-columns animated fadeIn">
            <div class="card text-center" *ngFor="let pirate of pirates">
                <img class="card-img-top img-fluid" [src]="pirate.img" [alt]="pirate.name" />
                <div class="card-block">
                    <h4 class="card-title">{{pirate.name}}</h4>
                    <p class="card-text text-left">
                        {{(pirate.ability.length > 50) ? pirate.ability.substr(0, 50) + "..." : pirate.ability}}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">{{pirate.birth}}</small>
                    </p>

                    <!-- Router navigation by html-->
                    <!--<a class="btn btn-outline-primary btn-block"
                        [routerLink]="['/pirate', pirate.id]">
                        See more
                    </a>-->

                    <button class="btn btn-outline-primary btn-block"
                        type="button"
                        (click)="navigateToPirate(pirate.id)">
                        See more
                    </button>
                </div>
            </div>
        </main>
    </div>
</section>
